trigger: none

pool: my agent pool

stages:
  - stage: build
    jobs:
      - job: build
        steps:
        - task: Maven@4
          inputs:
            azureSubscription: 'todo-service-connection'
            mavenPomFile: 'pom.xml'
            publishJUnitResults: true
            testResultsFiles: '**/surefire-reports/TEST-*.xml'
            javaHomeOption: 'JDKVersion'
            mavenVersionOption: 'Default'
            mavenAuthenticateFeed: false
            effectivePomSkip: false
            sonarQubeRunAnalysis: false
