trigger: none

pool: my agent pool

stages:
  - stage: build
    jobs:
      - job: build
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: 'mvn clean package'
