trigger: none

pool: TodoAgent

stages:
  - stage: build
    jobs:
      - job: build
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: 'mvn clean package'
        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(Build.SourceDirectory)/target/'
            artifact: 'javaArtifact'
            publishLocation: 'pipeline'
        - task: DownloadPipelineArtifact@2
          inputs:
            buildType: 'current'
            artifactName: 'javaArtifact'
            targetPath: '$(Pipeline.Workspace)'