trigger: none

pool: TodoAgent

stages:
  - stage: build
    jobs:
      - job: build
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: 'mvn clean package'

            
        # - task: Maven@4
        #   inputs:
        #     azureSubscription: 'todo-service-connection'
        #     mavenPomFile: 'pom.xml'
        #     publishJUnitResults: true
        #     testResultsFiles: '**/surefire-reports/TEST-*.xml'
        #     javaHomeOption: 'JDKVersion'
        #     mavenVersionOption: 'Default'
        #     mavenAuthenticateFeed: false
        #     effectivePomSkip: false
        #     sonarQubeRunAnalysis: false