trigger: none

pool:
  name: my agent pool

stages:
- stage: build
  jobs:
  - job: build
    steps:
    - task: JavaToolInstaller@1
      inputs:
        versionSpec: '17'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'
