trigger: none

pool:
  name: my agent pool

stages:
- stage: build
  jobs:
  - job: build
    steps:

    # 1️⃣ Install Maven
    - task: Maven@3
      inputs:
        mavenVersionOption: 'Default'
        mavenAuthenticateFeed: false

    # 2️⃣ Run Maven via PowerShell
    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: |
          mvn -version
          mvn clean package
