trigger: none

pool: TodoAgent

stages:
  - stage: build
    jobs:
      - job: build
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: 'mvn clean package'
        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(Build.SourcesDirectory)/target/'
            artifact: 'javaArtifact'
            publishLocation: 'pipeline'
        - task: DownloadPipelineArtifact@2
          inputs:
            buildType: 'current'
            artifactName: 'javaArtifact'
            targetPath: '$(Pipeline.Workspace)'

        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: 'Copy-Item "$(Pipeline.Workspace)\*.war" "C:\Program Files\Apache Software Foundation\Tomcat 9.0\webapps" -Force'

        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              echo "Starting Tomcat..."
                    C:\apache-tomcat-9\bin\shutdown.bat
                    Start-Sleep -Seconds 5
                    C:\apache-tomcat-9\bin\startup.bat