trigger: none

pool: my agent pool

stages:
  - stage: build
    jobs:
      - job: build
        steps:
        - task: Maven@3
          inputs:
            mavenPomFile: 'pom.xml'
            goals: 'clean package'
            javaHomeOption: 'JDKVersion'
            jdkVersionOption: '1.17'
